@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreTest-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreTest-Semibold.otf");
  font-weight: 600;
}
